<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter username"  name="username"><br><br>
        <textarea placeholder="Write Your Post" name="content" rows="10" columns="35"></textarea><br>
        &nbsp;&nbsp;&nbsp;<button>Submit Post</button>
    </form>
</body>
</html>